.btn {
  font-family: @font-title;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @white-text;
  .kit-decor();
  .kit-big();
  display: block;
  background-color: @bc-green;
  border: 0;
  box-sizing: border-box;
  vertical-align: top;
}
