.btn {
  font-family: @font-title;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  background-color: @bg-green;
  border: none;
  cursor: pointer;
}
