.catalog-card {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-top: 140px;
  }
}

.catalog-card__link {
  display: block;
  width: 50%;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.catalog-card__img {
  @media (min-width: @tablet-width) {
    width: auto;
    height: auto;
  }
}

.catalog-card__info {
  width: 50%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 249px;
  }
}

.catalog-card__title {
  font-size: 16px;
  line-height: 20px;
  width: 64%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    width: 100%;
  }
}

.catalog-card__table {
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;
  padding: 0;
  margin-bottom: 13px;
}

.catalog-card__cell {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @border-light;
  }
}

.catalog-card__left {
  padding-right: 58px;
}

.catalog-card__right {
  text-align: right;
}

.catalog-card__btn {
  color: @white-text;
  width: 100%;
  padding: 13px;
}
