.catalog {
  padding-top: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 31px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 19px;
  }
}

.catalog__title {
  padding-bottom: 28px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
  }
}

.catalog__item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: @mobile-width-only) {
    border: 1px solid @border-light;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: -1px;
    margin-left: -20px;
    margin-right: -20px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    border: none;
    width: calc(50% - 30px);
    margin-top: 140px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-top: 143px;
  }
}
