.catalog {
  border-top: 1px solid @border-light;
}

.catalog__title {
  padding-left: 20px;
  margin-bottom: 20px;
}

.catalog__list {
  .kit-reset();
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  border-top: 1px solid @border-light;
  padding: 0 20px;
  margin: 10px 0;
}
