.contacts {
  padding: 15px 0;
}

.contact__wrap {
  @media (min-width: @tablet-min) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.contacts__bar {
  font-family: @font-main;
  font-size: 14px;
  line-height: 1.7em;
  font-weight: 300;
  text-transform: none;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-min) {
    width: 45%;
  }

  @media (min-width: @desktop-min) {
    font-size: 16px;
    line-height: 1.9em;
    width: 35%;
  }
}

.contacts__tel,
.contacts__mail,
.contacts__address {
  position: relative;
  color: @color-white;
  padding-left: 40px;
  margin-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    .element-size(20px, 20px);
    background: no-repeat center;
    left: 0;
  }
}

.contacts__tel {
  text-decoration: none;

  &::before {
    background-image: url("../img/icon-phone.svg");
  }
}

.contacts__mail {
  text-decoration: none;

  &::before {
    background-image: url("../img/icon-mail.svg");
  }
}

.contacts__address {
  font-style: normal;

  &::before {
    background-image: url("../img/icon-address.svg");
  }
}

.contacts__map {
  display: block;
  background-color: @color-graydark;
  .element-size(290px, 270px);
  border: 1px solid @color-graydark;
}

.contacts__iframe {
  .element-size(100%, 100%);
  display: block;
  border: none;
}

.contacts__form {
  @media (min-width: @tablet-min) {
    width: 55%;
  }

  @media (min-width: @desktop-min) {
    width: 65%;
  }
}
