.container {
  width: @mobile-min;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: @tablet-min) {
    width: @tablet-max;
  }

  @media (min-width: @desktop-min) {
    width: @desktop-max;
    padding: 0 30px;
  }
}
