.copyright {
  padding: 20px;
}

.copyright__link {
  color: @text;
  .kit-decor();
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.copyright__logo {
  font-size: 16px;
}
