.details {
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 77px;
  }
}

.details__title {
  margin: 0;
}

.details__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 73px;
    margin-bottom: 0;
    counter-reset: number;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.details__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    background: @bg-green;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
    background-position: center;
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &--dining {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  @media (max-width: @mobile-width-only) {
    margin-bottom: 26px;
  }

  @media (min-width: @tablet-width) {
    width: 46%;
    min-height: 282px;
    padding-left: 0;
    padding-top: 110px;
    padding-right: 80px;

    &:first-child {
      margin-bottom: 36px;
    }

    &:nth-child(2) {
      margin-bottom: 36px;
    }

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      counter-increment: number;
      content: counter(number);
      display: block;
      font-family: @font-title;
      font-size: 281px;
      line-height: 281px;
      color: @bg-gray;
      z-index: -1;
      top: -40px;
      left: 115px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 20.2%;
    min-height: 240px;
    padding-right: 0;
  }
}
