.example {
  position: relative;
  background-color: @bg-gray;
  padding-top: 15px;
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    background-color: @bg-white;
    border-top: 1px solid @border-light;
    padding-top: 20px;
    padding-bottom: 79px;
    z-index: 1;

    @media (min-width: @desktop-width) {
      border-top: none;
      padding-top: 14px;
      padding-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 463px;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, @bg-gray 50%, #eaeaea 50%);
      z-index: -1;

      @media (min-width: @desktop-width) {
        height: 460px;
      }
    }
  }
}

.example__wrap {
  position: relative;
  z-index: 2;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 450px;
    margin-top: 23px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
    margin-top: 54px;
  }
}

.example__text {
  margin-right: 13px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    width: 439px;
    margin-bottom: 53px;
  }
}

.example__list-wrap {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__list {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;


  @media (min-width: @desktop-width) {
    width: 407px;
    margin-bottom: 37px;
  }
}

.example__item {
  width: 124px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  padding-top: 14px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 40px;
    width: 163px;
  }
}

.example__total {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 2px;
  }
}

.example__total-text {
  font-size: 12px;
  line-height: 12px;
  background-color: @bg-gray;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -30px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @bg-white;
    margin-bottom: -21px;
    margin-left: 16px;
    margin-right: 16px;
  }

  @media (min-width: @desktop-width) {
    background-color: @bg-gray;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.example__cost-food {
  font-family: @font-title;
  font-size: 14px;
  line-height: 20px;
  color: @title;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 190px;
    text-align: right;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    width: 370px;
    padding-top: 4px;
  }
}

.example__span {
  @media (min-width: @tablet-width) {
    display: inline-block;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 60px;
  }
}

.example__slider-wrap {
  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    align-self: flex-end;
  }
}

.example__slider-block {
  position: relative;
  margin-left: 17px;

  @media (min-width: @desktop-width) {
    margin-right: -40px;
  }
}

.example__slider-img {
  @media (max-width: @mobile-width-only) {
    background-color: @bg-gray;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 133px;
  }
}

.example__slider-img--after {
  @media (min-width: @tablet-width) {
    background-image: linear-gradient(to top, #eaeaea 384px, @bg-white 384px);
    overflow: hidden;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to top, #eaeaea 460px, @bg-white 460px);
    overflow: hidden;
  }
}

.example__slider-img--before {
  position: absolute;

  @media (min-width: @tablet-width) {
    width: 338px;
    background-image: linear-gradient(to top, @bg-gray 384px, @bg-white 384px);
    overflow: hidden;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to top, @bg-gray 460px, @bg-white 450px);
    overflow: hidden;
  }
}

.example__img {
  display: block;
  max-width: none;
  margin-left: -33px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 690px;
    margin-left: 0;
    margin-bottom: 32px;

    @media (min-width: @desktop-width) {
      margin-left: -25px;
      margin-bottom: 0;
    }
  }
}

.example__slider-range {
  display: flex;
  align-items: center;
  min-width: 247px;
  padding-left: 38px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;


  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: -4px;
    left: 29px;
    width: 615px;
  }

  @media (min-width: @desktop-width) {
    bottom: 74px;
    left: 32px;
  }
}

.example__slider-bar {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid @border-dark;
  border-radius: 10px;
  background-color: @bg-white;
  margin: 0 10px;

  @media (min-width: @tablet-width) {
    width: 430px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    margin: 0 15px;
  }
}

.example__slider-scale {
  width: 43%;
  height: 6px;
  background-color: @bg-green;
  border-radius: 10px;
  margin: 3px 5px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    box-sizing: content-box;
    position: absolute;
    top: -16px;
    left: 46%;
    width: 8px;
    height: 8px;
    background-color: @bg-green;
    border: 13px solid @bg-white;
    border-radius: 50%;
    box-shadow: 0 0 0 1px @border-dark, 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 0 0 1px @border-dark, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 0 0 1px @bg-green, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

.example__range-btn {
  font-family: @font-title;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 7px;

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:active {
    border-bottom: transparent;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    border-bottom: 1px dotted @border-dark;
    margin: 0 4px;
  }
}
