.form-contact__list {
  .list-no();
  display: flex;
  flex-direction: column;
}

.form-contact__item {
  color: @color-gray;
  border-bottom: 1px solid @color-graydark;
}

.form-contact__input {
  color: @color-gray;
  background-color: transparent;
  border: none;
  display: block;
  .element-size(100%, 100%);
  padding: 20px 0;
}

.form-contact_message-text {
  color: @color-gray;
  display: block;
  .element-size(100%, 140px);
  background-color: transparent;
  border-color: @color-graydark;
  padding: 15px 20px;
  resize: none;
}
