.form {
  margin-top: 17px;
}

.form__title {
  margin: 0;
}

.form__program {
  margin-top: 25px;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding: 37px 0;
  }
}

.form__text {
  font-family: @font-title;
  color: @title;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__wrap {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__order {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form__link {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form__btn {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
    width: 42%;
    margin-right: 61px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 45%;
  }
}

.form__note-text {
  font-size: 14px;
  line-height: 16px;
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    text-align: left;
    margin: auto 0;
  }
}
