.form {
  margin-top: 20px;
}

.form__title {
  margin: 0;
}

.form__program {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding: 37px 0;
  }
}

.form__text {
  font-family: @font-title;
  color: @title;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__order {
  border: none;
  padding: 0;
  margin: 0;
}

.form__link {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form__btn {
  width: 100%;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 15px;
    width: 50%;
  }
}

.form__note-text {
  font-size: 14px;
  line-height: 16px;
  display: block;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}
