.nav {
  position: fixed;
  background-color: @bg-black;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 60%;
  display: none;
  z-index: 1;
  animation-name: animate;
  animation-duration: 1s;

  @keyframes animate {
    from {
      left: 0;
      opacity: 0;
    }

    to {
      right: 0;
      opacity: 1;
    }
  }

  @media (min-width: @desktop-min) {
    position: static;
    display: block;
    background-color: transparent;
  }
}

.nav__list {
  font-family: @font-main;
  font-size: 12px;
  line-height: 1.9em;
  font-weight: 600;
  text-transform: uppercase;
  .list-no();
  display: flex;
  flex-direction: column;
  padding-top: 75px;

  @media (min-width: @tablet-min) {
    font-size: 14px;
    padding-top: 0;
  }

  @media (min-width: @desktop-min) {
    flex-direction: row;
  }
}

.nav__link {
  text-decoration: none;
  display: block;
  width: max-content;
  padding: 7px 25px;
}

.nav__span {
  position: relative;
  color: @color-white;

  &:hover,
  &:focus {
    color: @color-yellow;
  }

  &.active {
    color: @color-yellow;
  }

  &:hover:not(.active)::before,
  &:focus:not(.active)::before {
    position: absolute;
    content: "";
    .element-size(100%, 1px);
    background-color: @color-yellow;
    transition: all 200ms ease;
    left: 0;
    bottom: 0;
  }
}

.nav__show {
  display: block;
}
