.page-header {
  border-bottom: 1px solid @color-graydark;

  @media (min-width: @desktop-min) {
    background-color: @bg-black;
  }
}

.page-header__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;

  @media (min-width: @tablet-min) {
    padding: 15px 0;
  }

  @media (min-width: @desktop-min) {
    padding: 20px 0;
  }
}

.page-header__menu {
  position: relative;
}

.page-header__btn {
  position: absolute;
  align-self: center;
  .element-size(15px, 15px);
  background-color: transparent;
  border: none;
  top: -7px;
  right: 0;
  cursor: pointer;
  z-index: 2;

  @media (min-width: @desktop-min) {
    display: none;
  }
}

.page-header__span {
  position: absolute;
  .element-size(15px, 1px);
  background-color: @color-white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s;
  transition-delay: 0.1s;

  &::before {
    content: "";
    position: absolute;
    .element-size(100%, 100%);
    background-color: @color-white;
    top: -4px;
    left: 0;
    transition-property: top;
    transition-delay: 0.1s;
    transition-duration: 0.1s;
  }

  &::after {
    content: "";
    position: absolute;
    .element-size(100%, 100%);
    background-color: @color-white;
    top: 4px;
    left: 0;
    transition-property: top;
    transition-delay: 0.1s;
    transition-duration: 0.1s;
  }
}

.active {
  .page-header__span {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
      transition-delay: 0.1s;
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
      transition-delay: 0.1s;
    }
  }
}
