.page-footer {
  background-color: @bc-gray;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  margin: 31px;
  padding-top: 8px;
}

.page-footer__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page-footer__social {
  border-top: 1px solid @border-dark;
}

.page-footer__copyright {
  border-top: 1px solid @border-dark;
}
