.page-footer {
  background-color: @bg-gray;
  display: flex;
  flex-direction: column;
}

.footer__wrap {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px;
  }
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
