.page-header {
  padding-top: 11px;
  position: relative;
}

.page-header__logo {
  display: block;
  padding-top: 11px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.page-header__logo-img {
  display: block;
}

.page-header__toggle {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-color: @bc-white;
  width: 19px;
  height: 19px;
  top: 22px;
  right: 23px;
  border: none;
  cursor: pointer;
}
