
.product-card {
  border-bottom: 1px solid @border-dark;

  @media (min-width: @tablet-width) {
    border: 1px solid @border-light;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

.product-card__wrap {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 16px;
  color: @dark-title;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    width: 50%;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    line-height: 20px;
    vertical-align: center;
    width: 150px;
  }
}

.product-card__table {
  font-size: 14px;
  line-height: 14px;
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: auto;
    margin-right: 32px;
  }
}

.product-card__value {
  text-align: left;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-right: 45px;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    width: 160px;
    padding-right: 83px;
  }
}

.product-card__cost {
  text-align: right;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 50px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    display: inline-block;
    width: 47px;
  }
}

.product-card__btn {
  color: @white-text;
  width: 100%;


  @media (min-width: @desktop-width) {
    width: 32.2%;
  }
}
