
.product-card {
  border-bottom: 1px solid @border-dark;

  @media (min-width: @tablet-width) {
    border: 1px solid @border-light;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 895px;
  }
}

.product-card__wrap {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.product-card__title {
  font-size: 16px;
  line-height: 16px;
  color: @dark-title;
  margin-top: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 50%;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    margin: auto;
  }
}

.product-card__table {
  font-size: 14px;
  line-height: 14px;
  border-collapse: collapse;
  padding: 0;
  margin-bottom: 15px;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    margin: auto;
    padding-right: 39px;
  }
}

.product-card__value {
  text-align: left;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-right: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 180px;
  }
}

.product-card__cost {
  text-align: right;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 50px;
  }
}

.product-card__btn {
  color: @white-text;
  width: 100%;


  @media (min-width: @desktop-width) {
    width: 245px;
    align-self: center;
  }
}
