.promo__text {
  font-family: @font-text;
  color: @text-gray;
  text-transform: none;
  font-weight: 400;

  // @media (min-width: @tablet-min) {
  // }

  // @media (min-width: @desktop-min) {
  // }
}
