.selection__list,
.selection__diet,
.selection__extra {
  font-family: @font-title;
  font-size: 16px;
  line-height: 18px;
  color: @dark-title;
  text-transform: uppercase;
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.selection__name {
  padding: 10px 0;
  margin-bottom: 11px;
}

.selection__item {
  position: relative;
  display: flex;
  align-items: center;
}

.selection__label {
  display: flex;
  flex-shrink: 0;
  margin-right: 15px;
}

.selection__input {

  border: 1px solid @border-form;
  width: 100%;
  padding-top: 14px;
  padding-left: 16px;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 17px;
  }
}

.selection__input::placeholder {
  color: @text;
  text-transform: uppercase;
}

.selection__icon-email {
  position: absolute;
  width: 18px;
  height: 14px;
  right: 15px;

  @media (min-width: @tablet-width) {
    right: 20px;
  }
}

.selection__icon-phone {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 13px;

  @media (min-width: @tablet-width) {
    right: 17px;
  }
}

.selection__diet {
  border-top: 1px solid @border-light;
  border-bottom: 1px solid @border-light;

  @media (max-width: @mobile-width-only) {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @border-light;
  }
}

.selection__diet-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 46px;
  margin-top: 29px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-left: 28px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid @border-dark;
    border-radius: 50%;
    left: 0;
    vertical-align: center;
  }
}

.selection__comment {
  display: block;
  width: 100%;
  min-height: 150px;
  border: 1px solid @border-form;
  resize: none;
  margin: 20px 0;
}

.selection__comment::placeholder {
  font-size: 16px;
  line-height: 18px;
  font-family: @font-title;
  color: @text;
  text-align: center;
  text-transform: uppercase;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-top: 17px;
    padding-left: 20px;
  }
}

.selection__extra {
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.selection__extra-item {
  position: relative;
  padding-left: 46px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid @border-dark;
    left: 0;
  }
}
