.service {
  position: relative;
  font-family: @font-title;
  color: @white-text;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 2px;

  @media (min-width: @tablet-width) {
    text-align: left;
    color: @title;
    padding-top: 31px;
    padding-bottom: 529px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-bottom: 270px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-color: @bg-photo;
    display: block;
    width: 100%;
    height: 305px;
    top: 1px;
    z-index: -1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: contain;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.service__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 23px;


  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: 66%;
    padding: 0;
    margin-left: 87px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 35%;
    padding-top: 21px;
    margin-left: 80px;
  }
}

.service__cite {
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: block;
    margin-left: 88px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    width: 35%;
    margin-left: 80px;
    margin-bottom: 54px;
  }
}

.service__img {
  display: block;
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    display: block;
    width: 709px;
    height: 609px;
    top: 231px;
    z-index: -1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    top: -29px;
    left: calc(50% - 160px);
  }
}

.service__btn {
  font-size: 14px;
  line-height: 18px;
  margin-top: 3px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 20px;
    margin-top: 20px;
    margin-left: 88px;
    margin-right: 374px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
    margin-right: 895px;
  }
}
