.service {
  font-family: @font-title;
  color: @white-text;
  .kit-big();
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.service__title {
  font-size: 36px;
  line-height: 36px;
  padding-top: 29px;
}

.service__cite {
  font-size: 14px;
  line-height: 14px;
  margin-top: 19px;
}

.service__image {
  margin-bottom: -135px;
}

.service__link {
  padding-top: 14px;
  padding-bottom: 11px;
}
