.show-all {
  border-top: 1px solid @border-light;
  border-bottom: 1px solid @border-light;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    border: 1px solid @border-form;
    padding: 0;
    margin-top: 140px;
    width: 46.4%;
  }

  @media (min-width: @desktop-width) {
    width: 20.25%;
  }
}

.show-all__info {
  position: relative;
  text-align: center;
  padding-top: 83px;
  padding-bottom: 13px;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 0 38px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.2;
    width: 31px;
    height: 31px;
    display: block;
    top: 27px;
    left: 125px;

    @media (min-width: @tablet-width) {
      background-image: url("../img/icon-plus.svg");
      width: 61px;
      height: 61px;
      top: 55px;
      left: 133px;
    }

    @media (min-width: @desktop-width) {
      left: 93px;
    }
  }
}

.show-all__title {
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 166px;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.show-all__text {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding: 0;
    margin-top: 28px;
    margin-bottom: 95px;
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.catalog-card__btn-show {
  color: @text;
  background-color: @bg-gray;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    width: 76.86%;
  }
}
