.social-list {
  padding-left: 73px;
  padding-right: 82px;
  margin: 0;
  border-top: 1px solid @border-dark;
  border-bottom: 1px solid @border-dark;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
    width: 124px;
  }
}

.social-list__item {
  padding-top: 22px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.social-list__link {
  display: block;

  svg {
    fill: @icon;

    &:hover,
    &:focus {
      fill: @bg-green;
    }

    &:active {
      opacity: 0.3;
    }
  }


  &--vk {
    svg {
      width: 22px;
      height: 12px;

      @media (min-width: @tablet-width) {
        width: 30px;
        height: 16px;
      }
    }
  }

  &--inst {
    svg {
      width: 17px;
      height: 17px;

      @media (min-width: @tablet-width) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--fb {
    svg {
      width: 10px;
      height: 19px;

      @media (min-width: @tablet-width) {
        width: 14px;
        height: 28px;
      }
    }
  }
}
