// Шрифты
@font-main: "Poppins", "Arial", sans-serif;
@font-text: "Fira Sans", "Arial", sans-serif;

// Размеры экрана
@mobile-min: 320px;
@mobile-max: 767px;
@tablet-min: 768px;
@tablet-max: 1023px;
@desktop-min: 1024px;
@desktop-max: 1920px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// Цвет шрифта
@text-white: #ffffff;
@text-gray: #9b9b9b;
@text-yellow: #feb406;

// Цвет фона
@bg-black: #010101;
@bg-dark: #242323;
@bg-gray: #dfe1e1;

// Цвет рамок
@border-gray: #dfe1e1;
@border-yellow: #feb406;

// Цвет иконок
@icon: #666666;
